@import '_variables.sass'

body
  background-color: $bg-color
  margin: 0
  padding: 0
  box-sizing: border-box

.content
  display: flex
  justify-content: center
  align-items: center
  gap: 200px
  height: 80vh
